In [1]:
import pandas as pd
import re
import os

In [2]:
# This function creates the path to the main Excel file of this project
# Uses os library methods to ensure the file path works in both local and GitHub CI/CD environments
def create_file_path(file_relative_path):
    # Store the xlsx file dir into a var
    dir = '../data'
    
    # Iterate under dir data to have all files
    for filename in os.listdir(dir):
        # Condition to confirm which file is == year_make_model_df.xlsx
        if filename.endswith(file_relative_path):
            # Join the dir + filename to create the path to year_make_model_df.xlsx file  
            xlsx_file_fullpath = os.path.join(dir, filename)
            # Print the result
            print(xlsx_file_fullpath)
    return xlsx_file_fullpath

In [3]:
# Read excel 
df = pd.read_excel(create_file_path('year_make_model_df.xlsx'))

../data\year_make_model_df.xlsx

In [4]:
# Create df
df_chrysler = df[df["Make"] == "Chrysler"]

In [5]:
# Function to create list with unique items from given column
def data_from_column(df, column):
    # List to append the items
    data_column_list =[]

    # Iterate over given column
    for data in df[column]:
        # Append the items from the given column
        data_column_list.append(data)

    # Return a set with unique items from given column
    return set(data_column_list)

In [6]:
# Check how the df is
df_chrysler.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109 entries, 239 to 3244
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            109 non-null    int64
 1   Make            109 non-null    object
 2   Model           109 non-null    object
 3   Security        92 non-null     object
 4   ParameterReset  0 non-null      object
dtypes: int64(1), object(4)
memory usage: 5.1+ KB

1. Fill out the null values in column 'Security'
2. Drop column 'ParameterReset'

In [19]:
# Fill out the null values in the column 'Security'
df_chrysler['Security'].fillna('Information not available', inplace=True)

C:\Users\Weverson Barbieri\AppData\Local\Temp\ipykernel_976\1459192527.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_chrysler['Security'].fillna('Information not available', inplace=True)
C:\Users\Weverson Barbieri\AppData\Local\Temp\ipykernel_976\1459192527.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_chrysler['Security'].fillna('Information not available', inplace=True)

In [20]:
# Drop column 'ParameterReset'
df_chrysler_dropped_column = df_chrysler.drop(columns=['ParameterReset'])

In [21]:
# Check how the df is after the above updates
df_chrysler_dropped_column.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109 entries, 239 to 3244
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      109 non-null    int64
 1   Make      109 non-null    object
 2   Model     109 non-null    object
 3   Security  109 non-null    object
dtypes: int64(1), object(3)
memory usage: 4.3+ KB

In [22]:
# Call the function and print the items from column models
print(data_from_column(df_chrysler_dropped_column, "Model"))

{'Concorde', 'Sebring Convertible LX/GTC/base', 'Town & Country', 'PT Cruiser', 'Sebring Coupe', '300C', 'Cirrus', 'Aspen', 'PT\nCruiser/Convertible.', 'Concorde LXI/Limited', 'Sebring Convertible  LXI/Limited/Touring', '300M', 'LHS', 'Sebring Convertible LXI/Limited/Touring', 'Crossfire', '200 & 200 Convertible', 'PT Cruiser/ Convertible', 'Pacifica', 'Sebring Sedan'}

CHANGES NEEDED
- Replace the caractere '\n' for space ' '

In [23]:
# Replace the caractere '\n' for space ' '
df_chrysler_dropped_column['Model'] = df_chrysler_dropped_column['Model'].str.replace('\n', ' ', regex=False)

In [24]:
# Call the function and print the items from column models
print(data_from_column(df_chrysler_dropped_column, "Security"))

{'Std (Except Base)', 'Information not available', 'Opt\nLate availability', 'Opt', 'Std / Limited', 'Std', 'Opt (Std in Canada)'}

CHANGES NEEDED
- Replace the caractere '\n' for space ' '

In [25]:
# Replace the caractere '\n' for space ' '
df_chrysler_dropped_column['Security'] = df_chrysler_dropped_column['Security'].str.replace('\n', ' ', regex=False)

In [26]:
# Reset the index column
df_chrysler_updated = df_chrysler_dropped_column.reset_index(drop=True)

In [ ]:
# Export the to .csv file
# df_chrysler_updated.to_csv('C:\\Language_Projects\\Language_Projects\\Python\\Flagship_1\\vehicle_security_system_data_cleaning\\data\\df_chrysler.csv', index=False)