In [1]:
import pandas as pd

In [2]:
# Read excel
df = pd.read_excel("C:\\Language_Projects\\Language_Projects\\Python\\Flagship_1\\vehicle_security_system_data_cleaning\\data\\year_make_model_df.xlsx")

In [ ]:
# Create df
df_dodge = df[df["Make"] == "Dodge"]

In [4]:
# Function to create list with unique items from given column
def data_from_column(df, column):
    # List to append the items
    data_column_list =[]

    # Iterate over given column
    for data in df[column]:
        # Append the items from the given column
        data_column_list.append(data)

    # Return a set with unique items from given column
    return set(data_column_list)

In [5]:
# Check how the df is
df_dodge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 194 entries, 241 to 3258
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            194 non-null    int64
 1   Make            194 non-null    object
 2   Model           194 non-null    object
 3   Security        149 non-null    object
 4   ParameterReset  12 non-null     object
dtypes: int64(1), object(4)
memory usage: 9.1+ KB

In [7]:
# Call the function to create a set with unique items from column model
data_from_column(df_dodge, "Model")

{'Avenger',
 'Avenger Sedan',
 'Caliber',
 'Caravan',
 'Challenger',
 'Charger',
 'Dakota',
 'Dart',
 'Durango',
 'Intrepid',
 'Journey',
 'Magnum',
 'Neon',
 'Nitro',
 'Ram',
 'Ram 1500',
 'Ram 2500',
 'Ram 3500',
 'Ram 4500',
 'Ram 5500',
 'Ram C/V',
 'Ram Van',
 'Sprinter',
 'Stratus coupe',
 'Stratus sedan',
 'Viper'}

No changes are needed in column 'Model'

In [8]:
# Call the function to create a set with unique items from column security
data_from_column(df_dodge, "Security")

{'Opt',
 'Opt (Std in Canada)',
 'Std',
 'Std\nw/o  power windows\n& power locks',
 'Std\nw/o  power windows & power locks',
 'Std\nw/o power windows\n& power locks',
 'Std\nwith power windows & power locks',
 'Std (Except Base)',
 'Std with power\nwindows & power locks',
 nan}

CHANGES NEEDED:
- Fill out rows with null values
- Replace the caractere '\n'

In [9]:
# Fill out the rows with null values
df_dodge['Security'].fillna('Information not available', inplace=True)

C:\Users\Weverson Barbieri\AppData\Local\Temp\ipykernel_7216\684934966.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_dodge['Security'].fillna('Information not available', inplace=True)
C:\Users\Weverson Barbieri\AppData\Local\Temp\ipykernel_7216\684934966.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dodge['Security'].fillna('Information not available', inplace=True)

In [10]:
# Replace the caractere '\n' by space ' '
df_dodge['Security'] = df_dodge['Security'].str.replace('\n', ' ', regex=False)

C:\Users\Weverson Barbieri\AppData\Local\Temp\ipykernel_7216\1023540618.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dodge['Security'] = df_dodge['Security'].str.replace('\n', ' ', regex=False)

Dodge PCMs do not require a parameter reset, but there are 12 rows w/ strings and before dropping this column, checking the strings to see what they are.

In [14]:
# Call the function to create a set with unique items from column 'ParameterReset'
data_from_column(df_dodge, "ParameterReset")

{'Sentry Key Immobilizer System = Standard equipment',
 nan,
 '“SKREES” Sentry Key Remote Entry System (same as SKIS, the key remote entry module was combined with the Sentry Key Immobilizer Module, it’s still Sentry Key)'}

CHANGES NEEDED at column 'ParameterReset':
- Rename the column's name to 'Security System Addiotional info'
- Fill out all null values

In [15]:
# Fill out all null values
df_dodge['ParameterReset'].fillna('Information not available', inplace=True)

C:\Users\Weverson Barbieri\AppData\Local\Temp\ipykernel_7216\2262564047.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_dodge['ParameterReset'].fillna('Information not available', inplace=True)
C:\Users\Weverson Barbieri\AppData\Local\Temp\ipykernel_7216\2262564047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dodge['ParameterReset'].fillna('Information not available', inplace=True)

In [16]:
# Rename the column's name to 'Security System Addiotional info'
df_dodge_updated = df_dodge.rename(columns={'ParameterReset': 'Dodge Security System Addiotional Info'})

In [17]:
# Reset index
df_dodge_updated.reset_index(drop=True)

,Year,Make,Model,Security,Dodge Security System Addiotional Info
0,1997,Dodge,Caravan,Information not available,Information not available
1,1997,Dodge,Dakota,Information not available,Information not available
2,1997,Dodge,Neon,Information not available,Information not available
3,1997,Dodge,Ram Van,Information not available,Information not available
4,1997,Dodge,Stratus sedan,Information not available,Information not available
...,...,...,...,...,...
189,2013,Dodge,Ram 3500,Std,Information not available
190,2013,Dodge,Ram 4500,Std,Information not available
191,2013,Dodge,Ram 5500,Std,Information not available
192,2013,Dodge,Ram C/V,Std,Information not available
193,2013,Dodge,Viper,Std,Information not available

In [ ]:
# Export the to .csv file
# df_dodge_updated.to_csv('C:\\Language_Projects\\Language_Projects\\Python\\Flagship_1\\vehicle_security_system_data_cleaning\\data\\df_dodge.csv', index=False)