In [1]:
import pandas as pd

In [2]:
# Read excel
df = pd.read_excel("C:\\Language_Projects\\Language_Projects\\Python\\Flagship_1\\vehicle_security_system_data_cleaning\\data\\year_make_model_df.xlsx")

In [3]:
# Create df
df_infiniti = df[df["Make"] == "Infiniti"]

In [4]:
# Check how the df is
df_infiniti.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87 entries, 256 to 3304
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            87 non-null     int64
 1   Make            87 non-null     object
 2   Model           87 non-null     object
 3   Security        83 non-null     object
 4   ParameterReset  0 non-null      object
dtypes: int64(1), object(4)
memory usage: 4.1+ KB

In [5]:
# Function to create list with unique items from given column
def data_from_column(df, column):
    # List to append the items
    data_column_list =[]

    # Iterate over given column
    for data in df[column]:
        # Append the items from the given column
        data_column_list.append(data)

    # Return a set with unique items from given column
    return set(data_column_list)

In [6]:
# Call the function to create a set with unique items from column model
data_from_column(df_infiniti, "Model")

{'EX',
 'FX35/45/50',
 'G20',
 'G25 Sedan',
 'G35 Coupe',
 'G35 Sedan',
 'G37/Coupe/Sedan',
 'I30',
 'I35',
 'JX',
 'M37/56',
 'M45',
 'M45/35',
 'Q45',
 'QX4',
 'QX56'}

CHANGES NEEDED:
- The string 'FX35/45/50' represents diffetent models at the same row. They should be: FX35, FX45, FX50 separated at different lines
- The same principle to models 'M37/56' (should be M37, M56) and 'M45/35' (should be M45, M35)

In [7]:
# Explode lines with duplicated models
df_infiniti_exploded = df_infiniti.assign(Model=df_infiniti["Model"].str.split('/')).explode('Model')

In [8]:
# Call the function to confirm the changes after exploding the models
data_from_column(df_infiniti_exploded, "Model")

{'35',
 '45',
 '50',
 '56',
 'Coupe',
 'EX',
 'FX35',
 'G20',
 'G25 Sedan',
 'G35 Coupe',
 'G35 Sedan',
 'G37',
 'I30',
 'I35',
 'JX',
 'M37',
 'M45',
 'Q45',
 'QX4',
 'QX56',
 'Sedan'}

In [9]:
# Add the prefix FX to models 45, 50 and M to models 56, 35
df_infiniti_exploded['Model'] = df_infiniti_exploded['Model'].str.replace('^45$', 'FX45', regex=True).str.replace('^50$', 'FX50', regex=True).str.replace('^56$', 'M56', regex=True).str.replace('^35$', 'M35', regex=True)

In [10]:
# Create a list with unique models to confirm the changes
data_from_column(df_infiniti_exploded, "Model")

{'Coupe',
 'EX',
 'FX35',
 'FX45',
 'FX50',
 'G20',
 'G25 Sedan',
 'G35 Coupe',
 'G35 Sedan',
 'G37',
 'I30',
 'I35',
 'JX',
 'M35',
 'M37',
 'M45',
 'M56',
 'Q45',
 'QX4',
 'QX56',
 'Sedan'}

In [11]:
# Create a set with unique items from column security
data_from_column(df_infiniti_exploded, "Security")

{'Std',
 'Std – E.K.F.',
 'Std – E.K.F., "I.K.C.\nOptional"',
 'Std, I.K.C.\nOptional',
 nan}

CHANGES NEEDED:
- Replace the charactere '\n' by space ' '.
- Fill out null values.

In [12]:
# Replace the charactere '\n' by space ' '
df_infiniti_exploded['Security'] = df_infiniti_exploded['Security'].str.replace('\n', ' ', regex=True)

In [13]:
# Fill out null values
df_infiniti_exploded['Security'].fillna('Information not available', inplace=True)

C:\Users\Weverson Barbieri\AppData\Local\Temp\ipykernel_6708\2554644425.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_infiniti_exploded['Security'].fillna('Information not available', inplace=True)

In [14]:
# Drop column ParameterReset
df_infiniti_dropped_column = df_infiniti_exploded.drop(columns=['ParameterReset'])

In [15]:
# Reset index
df_infiniti_up_to_dated = df_infiniti_dropped_column.reset_index(drop=True)

In [16]:
# Function to check if there are duplicated values
def check_duplicated_values(df):
    # Create a column with bool values showing whether or not there are duplicated values
    df['Dups'] = df.duplicated()
    # Return bool values counted
    return df['Dups'].value_counts()

In [17]:
# Call the function to check dup values
check_duplicated_values(df_infiniti_up_to_dated)

Dups
False    131
Name: count, dtype: int64

In [ ]:
# Export the to .csv file
# df_infiniti_up_to_dated.to_csv('C:\\Language_Projects\\Language_Projects\\Python\\Flagship_1\\vehicle_security_system_data_cleaning\\data\\df_infiniti.csv', index=False)