In [1]:
import pandas as pd

In [2]:
# Read excel
df = pd.read_excel("C:\\Language_Projects\\Language_Projects\\Python\\Flagship_1\\vehicle_security_system_data_cleaning\\data\\year_make_model_df.xlsx")

In [3]:
# Create df
df_mitsubishi = df[df["Make"] == "Mitsubishi"]

In [4]:
# Check how the df is
df_mitsubishi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103 entries, 608 to 3355
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            103 non-null    int64
 1   Make            103 non-null    object
 2   Model           103 non-null    object
 3   Security        87 non-null     object
 4   ParameterReset  0 non-null      object
dtypes: int64(1), object(4)
memory usage: 4.8+ KB

In [5]:
# Function to create list with unique items from given column
def data_from_column(df, column):
    # List to append the items
    data_column_list =[]

    # Iterate over given column
    for data in df[column]:
        # Append the items from the given column
        data_column_list.append(data)

    # Return a set with unique items from given column
    return set(data_column_list)

In [6]:
# Call the function to create a set with unique items from column model
data_from_column(df_mitsubishi, "Model")

{'Diamante',
 'Eclipse/Spyder',
 'Endeavor',
 'Galant',
 'Lancer EVO',
 'Lancer Sedan',
 'Lancer Sportback Wgn',
 'Mirage',
 'Montero',
 'Montero Sport',
 'Outlander',
 'Outlander Sport',
 'Raider',
 'iMIEV'}

Changes needed:
- Split models Eclipse/Spyder as they are different models, but are located at the same row.

In [7]:
# Split models Eclipse/Spyder as they are different models, but are located at the same row
df_mitsubishi_split_models = df_mitsubishi.assign(Model=df_mitsubishi['Model'].str.split('/')).explode('Model')

In [8]:
# Call the function to create a set to confirm the changes
data_from_column(df_mitsubishi_split_models, "Model")

{'Diamante',
 'Eclipse',
 'Endeavor',
 'Galant',
 'Lancer EVO',
 'Lancer Sedan',
 'Lancer Sportback Wgn',
 'Mirage',
 'Montero',
 'Montero Sport',
 'Outlander',
 'Outlander Sport',
 'Raider',
 'Spyder',
 'iMIEV'}

In [9]:
# Call the function to create a set with unique items from column security
data_from_column(df_mitsubishi_split_models, "Security")

{'Opt', 'Std', nan}

In [10]:
# Only fill out null values
df_mitsubishi_split_models['Security'].fillna('Information not available', inplace=True)

C:\Users\Weverson Barbieri\AppData\Local\Temp\ipykernel_10596\1995522533.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_mitsubishi_split_models['Security'].fillna('Information not available', inplace=True)

In [11]:
# Call the function to create a set with unique items from column ParameterReset
data_from_column(df_mitsubishi_split_models, "ParameterReset")

{nan}

In [12]:
# Drop column 'ParameterReset' since all rows have null values
df_mitsubishi_dropped_column = df_mitsubishi_split_models.drop(columns=['ParameterReset'])

In [15]:
# Reset index
df_mitsubishi_updated = df_mitsubishi_dropped_column.reset_index(drop=True)

In [14]:
# Function to check if there are duplicated values
def check_duplicated_values(df):
    # Create a column with bool values showing whether or not there are duplicated values
    df['Dups'] = df.duplicated()
    # Return bool values counted
    return df['Dups'].value_counts()

In [ ]:
# Call the function to check dup values
check_duplicated_values(df_mitsubishi_updated)

Dups
False    116
Name: count, dtype: int64

In [ ]:
# Export the to .csv file
# df_mitsubishi_upddated.to_csv('C:\\Language_Projects\\Language_Projects\\Python\\Flagship_1\\vehicle_security_system_data_cleaning\\data\\df_mitsubishi.csv', index=False)